body {
    background: url(../images/abstract.jpeg) rgba(0, 0, 0, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    font-family: cursive;
    text-align: center;
    color: black;
}

.header {}

.header h3 {
    padding: 15px;
    font-weight: 700;
    font-size: xx-large;
}

.info p {
    font-weight: 400;
}

form {
    border-radius: 5px;
    background: url(../images/greyscale.jpeg);
    padding: 20px;
    width: 50%;
    margin-left: 25%;
}

legend {
    text-align: center;
    color: lightsalmon;
}

legend img {
    float: right;
    margin-right: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}